alias docker-up="docker-compose up -d"
alias g="git"
alias cat="bat"
alias delta_zoom='open "zoommtg://etoro.zoom.us/join?action=join&confno=6493374694"'
alias fix-damn-audio="xcrun simctl shutdown all && sudo killall coreaudiod"
