[core]
	excludesfile = /Users/svenlombaert/.gitignore_global
	editor = nano
[user]
	name = Sven Lombaert
	email = sven.lombaert@gmail.com
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(blue) <%an>%Creset' --abbrev-commit
	c = commit
	ch = checkout
	s = status
	d = diff
	a = add
	f = fetch --all
	p = push
	pl = pull
	r = rebase
[fetch]
	prune = true
[pull]
	rebase = true
[pager]
	log = gitmoji-log | less --tabs=4 -rFX
	diff = diff-so-fancy | less --tabs=1,5 -RFX
	show = diff-so-fancy | less --tabs=1,5 -RFX
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color]
	ui = true
