[core]
	excludesfile = /Users/svenlombaert/.gitignore_global
	editor = nano
[user]
	name = Sven Lombaert
	email = sven.lombaert@gmail.com
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(blue) <%an>%Creset' --abbrev-commit
	c = commit
	ch = checkout
	s = status
	d = diff
	a = add
	f = fetch --all
	p = push
	pl = pull
[fetch]
	prune = true
[pull]
	rebase = true
[pager]
	log = gitmoji-log | less --tabs=4 -rFX
